<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="VenomRAT_HVNC.Server.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup><userSettings>
        <VenomRAT_HVNC.Server.Properties.Settings>
            <setting name="Ports" serializeAs="String">
                <value/>
            </setting>
            <setting name="Filename" serializeAs="String">
                <value/>
            </setting>
            <setting name="Notification" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Paste_bin" serializeAs="String">
                <value/>
            </setting>
            <setting name="IP" serializeAs="String">
                <value/>
            </setting>
            <setting name="ProductName" serializeAs="String">
                <value/>
            </setting>
            <setting name="txtDescription" serializeAs="String">
                <value/>
            </setting>
            <setting name="txtCompany" serializeAs="String">
                <value/>
            </setting>
            <setting name="txtCopyright" serializeAs="String">
                <value/>
            </setting>
            <setting name="txtTrademarks" serializeAs="String">
                <value/>
            </setting>
            <setting name="txtOriginalFilename" serializeAs="String">
                <value/>
            </setting>
            <setting name="txtProductVersion" serializeAs="String">
                <value>0.0.0.0</value>
            </setting>
            <setting name="txtFileVersion" serializeAs="String">
                <value>0.0.0.0</value>
            </setting>
            <setting name="txtBlocked" serializeAs="String">
                <value/>
            </setting>
            <setting name="Group" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="DingDing" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WebHook" serializeAs="String">
                <value/>
            </setting>
            <setting name="Secret" serializeAs="String">
                <value/>
            </setting>
            <setting name="ReverseProxyPort" serializeAs="String">
                <value>3128</value>
            </setting>
            <setting name="SavedPort" serializeAs="String">
                <value/>
            </setting>
        </VenomRAT_HVNC.Server.Properties.Settings>
    </userSettings>
</configuration>
